@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container-grid {
  display: grid;
  width: 920px;
  height: 920px;
  border: 60px solid blanchedalmond;
  border-radius: 15px;
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

button {
  border-radius: 10px;
  color: black;
  background-color: aquamarine;
  box-shadow: 5px;
  margin: 10px;
  height: 100px;
  width: 250px;
  font-size: 24px;
}

body {
  background-color: #80e5ff;
  font-family: "Roboto", sans-serif;
}

.ratioContainer {
  background-color: aquamarine;
  height: 100px;
  width: 250px;
  font-size: 24px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
